@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{   
    background: $main-bg-color;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}


img
{
    max-width: 100%;
    user-select: none;
}

#card-container
{
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 1.25rem;
    .card
    {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
        background: $card-bg-color;
        border-radius: 0.5em;
        padding: 1.6rem;
        max-width: 30ch;
        .img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            user-select: none;
            img:nth-child(1){border-radius: 0.5em;}
            .preview-image{
                position: absolute;
                opacity: 0;
                z-index: 2;
                transition: opacity 250ms ease;
            }
            
            .hover-background{
                background: $card-primary2-color;
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                border-radius: 0.5em;
                transition: opacity 250ms ease;
            }
            
            &:hover .hover-background{opacity: 0.4;}
            &:hover .preview-image{
                opacity: 1;
            }
        }
    
        .card-info
        {
            display: flex;
            flex-flow: column;
            gap: 1.3rem;
            border-bottom: 2px solid $card-line-color;
            padding: 0 0 1rem 0;
    
            h3{font-weight: 600;}
    
            p:nth-child(2)
            {
                font-weight: 300;
                color: $card-primary-color;
                line-height: 1.4;
            }
    
            .currency-and-days
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .ethereum
                {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem; 
    
                    p
                    {
                        color: $card-primary2-color;
                        font-weight: 600;
                    }
                }
    
                .days-left{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
    
        .creator-credit
        {
            display: flex;
            align-items: center;
            gap: 0.7rem;
    
            img{
                border: 1px solid $card-white;
                border-radius: 50%;
            }
    
            p{
                font-weight: 300;
                span{
                    color: $card-primary-color;
                }
            }
        }
    }
}

.attribution{
    width: 100%;
    text-align: center;
    line-height: 1.5;
    a{color: white;}
}


@media only screen and(min-width: 1025px){
    .attribution
    {
        position: absolute;
        bottom: 1em;
    }
}